# Python virtual environment
venv/
env/
ENV/
.env/
.venv/
data_analysis/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.xlsx#
# Jupyter Notebook
.ipynb_checkpoints


# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Data files (uncomment if you want to ignore data files)
# data/*.xlsx
# data/*.csv

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db 